<div class="user-header text-center">
  <h1 class="title-medium">
    <%= @user.name %>
  </h1>

  <h2 class="title-small buffer-both">
    <%= @user.email %>
  </h2>

  <div class="user-ask-button container text-center">
    <%#Используем встроенный в rails хелпер link_to%>
    <%= link_to "My reviews", '', class: 'button button-light', id: 'review-button' %>
  </div>
</div>

<%#Блок с формой для написания ревью%>
<div class="user-review-form-div column-1-4 column-1-4-right" id='review-form'>
  <div class="user-review-form buffer-both">
    <div class="form">
      <%#Мы используем хелпер form_for, принимающий на вход блок erb-кода, в котором доступна%>
      <%#переменная f, содержащая так называемый form builder, с помощью которого можно делать%>
      <%#поля формы для нового вопроса%>
      <%= form_for @new_review do |f| %>
          <%#С помощью объекта для создания полей формы, связанной с моделью @new_review%>
          <%#Мы создаем инпуты с нужными полями для формы, значения будут подставлены rails%>
          <%#автоматически%>
          <%= f.hidden_field :user_id %>

          <%#div class="form-field">
            <%= f.label "Review @#{@book.name}", class: 'form-label' %>
            <%#= f.text_area :text, class: 'form-textarea' %>


          <div class="form-action">
            <%= submit_tag 'Wishlist', class: 'button button-small button-dark' %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<%#Блок со списком ревью к книге%>
<%#div class="column-3-4">
  <div class="user-reviews buffer-both">
    <div class="reviews-list">
      <% @reviews.each do |review| %>
          <%#= render partial: 'reviews/review', object: review %>
      <%# end %>
    <%#/div>
  </div>
</div>

